@font-face {
    font-family: 'KyivType Sans Medium';
    src: url('/public/fonts/KyivTypeSans-Medium-.woff2') format('woff2'),
        url('/public/fonts/KyivTypeSans-Medium-.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}