/* ====== Default css : start ====== */

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;

  --purple-shade-60: #703BF7;
  --purple-shade-65: #8254F8;
  --purple-shade-70: #946CF9;
  --purple-shade-75: #A685FA;
  --purple-shade-90: #DBCEFD;
  --purple-shade-95: #EDE7FE;
  --purple-shade-97: #F4F0FE;
  --purple-shade-99: #FBFAFF;

  --white-shade-90: #E4E4E7;
  --white-shade-95: #F1F1F3;
  --white-shade-97: #F7F7F8;
  --white-shade-99: #FCFCFD;

  --grey-shade-08: #141414;
  --grey-shade-10: #1A1A1A;
  --grey-shade-15: #262626;
  --grey-shade-20: #333333;
  --grey-shade-30: #4D4D4D;
  --grey-shade-40: #666666;
  --grey-shade-50: #808080;
  --grey-shade-60: #999999;



  --font-family-primary: 'Urbanist';
}

*,
*::after,
*::before { 
  margin: 0; 
  padding: 0; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  letter-spacing: normal; 
}

html,
body { 
  min-height: 100%; 
  margin: 0; 
  padding: 0; 
}

body { 
  position: relative; 
  font-family: var(--font-family-primary); 
  font-weight: 400; 
  font-size: 16px; 
  line-height: normal; 
  font-style: normal !important;
  background: var(--grey-shade-08);
  color: var(--primary-color); 
}

body.open-nav { overflow: hidden; }
body.open_menu { overflow: hidden; }

li, ul, ol { list-style: none; margin: 0; padding: 0; }

a { text-decoration: none; border: 0; outline: none !important; }
a,
a:hover { color: inherit; }
a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus { text-decoration: none; outline: none; }

:focus { outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; padding: 0; }

.primary_btn { display: flex; justify-content: center; align-items: center; height: 63px; font-size: 18px; font-weight: 500; color: var(--primary-color); transition: all 0.3s ease-in-out; background: var(--purple-shade-60); border-radius: 10px; }
.primary_btn:hover { background: var(--purple-shade-70); }

h1 { font-weight: 600; font-size: 60px; line-height: 120%; color: var(--primary-color); }
h2 { font-weight: 600; font-size: 48px; line-height: 150%; color: var(--primary-color); }

p { font-weight: 500; font-size: 18px; line-height: 150%; color: var(--grey-shade-60); }

.main_wrapper { position: relative; width: 100%; overflow: hidden; }

.container { padding: 0 15px; width: 100%; margin: 0 auto; }

@media (min-width: 375px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (min-width: 1300px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1400px;
	}
}

@media (min-width: 1680px) {
	.container {
		max-width: 1626px;
	}
}

/* ====== Default css : end ====== */

/* ======================== Custom css : start ======================== */

/* Header */

.header { border-bottom: 1px solid var(--grey-shade-15); position: relative; width: 100%; background-color: var(--grey-shade-10); }


.discover { padding: 15px 32px 16px 32px; position: relative; border-bottom: 1px solid var(--grey-shade-15); background-image: url("../../public/bg-image.svg"); background-repeat: no-repeat; background-position: right center; background-size: cover; }
.discover-section { display: flex; justify-content: space-between; align-items: center; gap: 10px; max-width: 1160px; margin-left: auto; position: relative; z-index: 1; }
.discover-section .left-part { display: flex; align-items: center; position: relative; }
.discover-section .left-part span { display: flex; font-weight: 500; font-size: 18px; line-height: 150%; color: var(--primary-color); }
.discover-section .left-part .learn-btn { margin-left: 10px; position: relative; }
.discover-section .left-part .learn-btn a { display: flex; font-weight: 500; font-size: 18px; line-height: 150%; color: var(--primary-color); transition: all 0.3s ease-in-out; text-decoration: underline; }
.discover-section .left-part .learn-btn a:hover { color: var(--purple-shade-70); }
.discover-section .right-part { display: block; position: relative; }
.discover-section .right-part a { display: flex; justify-content: center; align-items: center; height: 32px; width: 32px; background: rgba(255, 255, 255, 0.10); border-radius: 50%; transition: all 0.3s ease-in-out; }
.discover-section .right-part a i { display: flex; font-size: 0; font-style: normal; width: 24px; height: 24px; }
.discover-section .right-part a i img { width: 100%; height: 100%; object-fit: cover; display: flex; }
.discover-section .right-part a:hover { background: var(--purple-shade-70); }


.main_header { padding: 20px 0; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; }
.main_header .logo { display: block; position: relative; }
.main_header .logo a { display: flex; max-width: 160px; }
.main_header .logo a img { width: 100%; height: auto; display: flex; }
.main_header .navbar_part { display: flex; align-items: center; column-gap: 380px; }
.main_header .navbar_part .navbar-block { position: relative; display: block; }
.main_header .navbar_part .navbar-block ul { display: flex; align-items: center; column-gap: 6px; }
.main_header .navbar_part .navbar-block ul li { position: relative; display: block; }
.main_header .navbar_part .navbar-block ul li a { display: flex; justify-content: center; align-items: center; height: 55px; padding: 0 24px; border: 1px solid transparent; border-radius: 10px; font-weight: 500; font-size: 18px; line-height: 150%; color: var(--primary-color); transition: all 0.3s ease-in-out; }
.main_header .navbar_part .navbar-block ul li a:hover { background: var(--grey-shade-08); border-color: var(--grey-shade-15); }
.main_header .navbar_part .navbar-block ul li.active a { background: var(--grey-shade-08); border-color: var(--grey-shade-15); }
.main_header .navbar_part .contact-btn { display: block; position: relative; }
.main_header .navbar_part .contact-btn a { display: flex; justify-content: center; align-items: center; height: 59px; padding: 0 24px; border: 1px solid var(--grey-shade-15); background: var(--grey-shade-08); border-radius: 10px; font-weight: 500; font-size: 18px; line-height: 150%; color: var(--primary-color); transition: all 0.3s ease-in-out; }
.main_header .navbar_part .contact-btn a:hover { background: var(--purple-shade-70); border-color: var(--purple-shade-70); }

.menu-btn { display: none; }

/* Header */

/* ======================== Custom css : end ======================== */