/* ====== Default css : start ====== */

:root {
  --primary-color: #F5F5F5;
  --secondary-color: #111111;
  --one-number-color: #1E0C06;
  --second-number-color: #222021;
  --third-number-color: #32353C;
  --fourth-number-color: #5B6069;
  --fifth-number-color: #848891;
  --sixth-number-color: #7D746D;
  --seventh-number-color: #D2C8C6;
  --eighth-number-color: #F1DED0;
  --ninth-number-color: #664033;
  --tenth-number-color: #6C200B;
  --eleventh-number-color: #8E3921;
  --twelfth-number-color: #E1764D;
  --thirteenth-number-color: #E59679;
  --fourteenth-number-color: #FB9E6E;
  --fifteenth-number-color: #FFC099;
  --sixteenth-number-color: #FFDBBB;
  --seventeenth-number-color: #5F7489;
  --eighteenth-number-color: #728BAD;
  --nineteenth-number-color: #A3B8D7;
  --twentieth-number-color: #D5DCEE;
  --twenty-first-number-color: #B0B4BD;
  --twenty-second-number-color: #7A574B;
  --twenty-third-number-color: #9F8578;
  --twenty-fourth-number-color: #C8B2A7;



  --font-family-heading: "KyivType Sans Medium";
  --font-family-text: "Inter";



  --font-big: 90px;
  --font-small: 30px;
}

*,
*::after,
*::before { 
  margin: 0; 
  padding: 0; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  letter-spacing: normal; 
}

html,
body { 
  min-height: 100%; 
  margin: 0; 
  padding: 0; 
}

body { 
  position: relative; 
  font-family: var(--font-family-text); 
  font-weight: 500; 
  font-size: 16px; 
  line-height: normal; 
  background: var(--second-number-color);
  color: var(--primary-color); 
}

body.open-nav { overflow: hidden; }
body.open_menu { overflow: hidden; }

li, ul, ol { list-style: none; margin: 0; padding: 0; }

a { text-decoration: none; border: 0; outline: none !important; }
a,
a:hover { color: inherit; }
a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus { text-decoration: none; outline: none; }

:focus { outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; padding: 0; }

.primary_btn { display: flex; justify-content: center; align-items: center; height: 58px; padding: 0 70px; font-size: var(--font-small); font-weight: 700; color: var(--primary-color); transition: all 0.3s ease-in-out; }
.primary_btn:hover { background: var(--twentieth-number-color); color: var(--eleventh-number-color); }

h1 { font-family: var(--font-family-heading); font-style: normal; font-size: var(--font-big); line-height: 115.4%; color: var(--primary-color); font-weight: 500; }
h2 { font-family: var(--font-family-heading); font-style: normal; font-size: var(--font-big); line-height: 132.9%; color: var(--primary-color); font-weight: 500; }

p { font-family: var(--font-family-text); font-style: normal; font-weight: 500; font-size: var(--font-small); line-height: 99.1%; color: var(--primary-color); }

.main_wrapper { position: relative; width: 100%; overflow: hidden; }

.container { padding: 0 15px; width: 100%; margin: 0 auto; }

@media (min-width: 375px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1280px;
	}
}

/* ====== Default css : end ====== */